drought_2008-2021.jpeg
ph_pws.png
ES_raw_gw_ar_96-21.png
ES_raw_gw_ni_84-21.png
ES_raw_s_ar_96-21.png
ES_raw_s_ni_84-21.png
ES_treated_ar_96-21.png
ES_treated_ni_84-21.png
clay_pws.png
clay_pws_overlay.png
ar_pdsi_coefs.png
california_pdsi_1980-2021.jpeg
n_pdsi_coefs.png
